@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme{
    --font-mono: 'IBM Plex Mono', monospace;
    --font-press: 'Press Start 2P', system-ui;

}

.ibm-plex-mono-bold {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

